@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

.bg {
    background: #03101c url('https://images.unsplash.com/photo-1460893330858-0c301e67cacf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fHNob2UlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww') center/100% no-repeat;
}

nav {
    background-color: rgb(42, 40, 40);
    color: white;
    padding: 5px 25px;

}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.search {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 10px;
}


i {
    padding-left: 10px;
    color: black;
}

.searchInput {
    border: none;
    background-color: transparent;
    outline: none;
}

.searchInput::placeholder {
    color: rgb(0, 0, 0);
}

.limitedOffer {
    font-size: 20px;
    border-bottom: 2px solid rgb(100, 102, 100);
    cursor: pointer;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    margin-right: 40px;
    cursor: pointer;
    color: rgb(252, 252, 252);
    font-weight: 300;
}

.slider {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 0.45s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg {
    top: 45px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    background-color: ;
}

.sliderImage {
    z-index: 1;
    transform: rotate(-35deg);
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    z-index: 1;
}

.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    padding: 2px 10px;
    border: 1px solid rgb(234, 232, 232);
    border-radius: 10px;
    z-index: 1;
}

.buyButton {
    position: absolute;
    top: 55%;
    right: 13%;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 5px 10px;
    transition: all .25s linear;
    color: #e4e8ef;
    border-color: #e4e8ef;
    z-index: 1;
}
.buyButton:hover {
    color: #000000;
    background-color: #e4e8ef;
    border-color: #e4e8ef;
}

/*}

.buyButton:hover {
    color: rgb(100, 102, 100);
    background-color: white;
}*/

.sliderItem:nth-child(1) .sliderBg {
    background-color: rgb(150, 240, 60);
}

.sliderItem:nth-child(2) .sliderBg {
    background-color: rgb(215, 127, 38);
}

.sliderItem:nth-child(3) .sliderBg {
    background-color: rgb(23, 41, 6);
}

.sliderItem:nth-child(4) .sliderBg {
    background-color: rgb(18, 11, 11);
}

.sliderItem:nth-child(5) .sliderBg {
    background-color: rgb(197, 207, 210);
}

.sliderItem:nth-child(1) .sliderPrice {
    color: rgb(150, 240, 60);
}

.sliderItem:nth-child(2) .sliderPrice {
    color: rgb(215, 127, 38);
}

.sliderItem:nth-child(3) .sliderPrice {
    color: rgb(255, 255, 255);
}

.sliderItem:nth-child(4) .sliderPrice {
    color: rgb(255, 255, 255);
}

.sliderItem:nth-child(5) .sliderPrice {
    color: rgb(197, 207, 210);
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.featureIcon {
   height: 30px;
   z-index: 1;
}

.featureTitle {
    font-size: 20px;
    font-weight: 400px;
    margin: 10px;
}

.featuredDes {
    color: gray;
    width: 50%;
    height: 100px;
}

.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
} 

.productImg {
    width: 50%;
    transform: rotate(15deg);
    
}

.productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle {
    font-size: 75px;
    font-weight: 700;
}

.productDesc {
    font-style: 24px;
    color: gray;
}

.colors, .sizes {
    display: flex;
    margin-bottom: 20px;
}

.color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
} 

.color:last-child {
    background-color: rgb(164, 172, 169);
}

.size {
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.size:hover {
    color: white;
    background-color: #000000;
}

.productBtn {
    float: right;
    padding: 10px 20px;
    border-radius: 5px 10px;
    background-color: black;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.productBtn:hover {
    background-color: white;
    color: black;
    border-color: black;
}

footer {
    margin-top: 9rem;
    padding: 30px;
    justify-content: center;
    text-align: center;

}

footer p {
    font-weight: 700;
}

footer .note {
    font-size: 15px;
    font-weight: 300;
}

.nav-links {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    list-style-type: none;

a {
    text-decoration: none;
    color: rgb(0, 44, 126);
}

a:hover {
    color: black;
}

/*Responsiveness Part*/
@media (min-width: ) {
        
}